@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

/* Text Color */
$tc-default: #9b9b9b;
$tc-default-dark: #7d7873;
$tc-white: #fff; 
$tc-featured: #359c9c;
$tc-title: #7d7873;
$tc-author: #f9a92f;

/* Background Color */
$bc-default: #fff;
$bc-secondary: #f8f8f8;

body * {
    color: $tc-default;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

hr {
    border-bottom: 2px solid #cbcbcb;
    border-left: none;
    border-top: none;
    border-right: none;
    margin: 20px auto;
    width: 200px;
}

a {
    display: block;
    &:hover {
        color: $tc-default;

        span {
            color: $tc-featured;
            
        }
        svg * {
            fill: $tc-default;
        }
    }
}

h1,h3,h2 {
    font-weight: bold;
}

h1 {
    color: $tc-white;
    font-size: 47px;
    line-height: 47px;
    text-shadow: 2px 2px 5px #000;
}

h3 {
    color: $tc-title;
    font-size: 17px;
    margin: 50px auto;
    text-transform: uppercase;
}

.icon svg {
    max-height: 18px;
    max-width: 9px;
    vertical-align: text-top;
}

section {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;    
}

.container {
    margin: 50px 50px 0 50px;
}

#header {
    .container {
        margin: 0;    
    }

    .header {
        &_bg-work {
            background: url('../img/foto-header.png');
            background-position: center;
            height: 450px;
            position: relative;
            h1 {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 140px;
            }
        } 
        &_title {
            margin: 25px 35px 0;
            p {
                line-height: 28px;
            }
        }
    } 
        
} 

.go-to-jobs, .know-more {
    color: $tc-featured;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

#squad {
   .container {
        background-color: $bc-secondary;
        margin: 50px auto;
        padding: 50px;
   }
    
   .squad {
        &_fst-item {
            display: flex;
            .text {
                margin-left: 50px;
            }
            h3 {
                line-height: 32px;
                margin: 0;
                text-align: left;
                span {
                    color: $tc-author;
                }
            }
            p {
                color: $tc-default-dark;
                margin-top: 25px;
                text-align: justify;
            }
        }

        &_scd-item {
            .title {
                font-size: 20px;
                line-height: 24px;
            }
            .dream-team {
                display: flex;
                flex-direction: row;
                width: 50%;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
            }
            img {
                margin-right: 10px;
                width: 50%;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
   }
}

#workplace {
    .container > img {
        margin-top: 60px;
        width: 100%;
    }
    ul {
        display: flex;
        li {
            margin-right: 35px;
            width: 100%;

            &:last-child {
                margin-right: 35px;  
            }   
        }
        img {
            width: auto;
        }
    }
    h3 {
        margin: 30px auto 40px;
    }
    p {
        text-align: justify;
        line-height: 24px;
        letter-spacing: 1.5px;
    }
}

#stack {
    h3 {
        margin-bottom: 60px;
    }
    h2 {
        color: $tc-default-dark;
        margin-bottom: 45px;
        text-align: left;
    }
    .jobs a{
        color: $tc-featured;
        text-align: left;
        position: relative;
        text-transform: none;
        text-decoration: none;
        padding-bottom: 15px;

        &:hover {
            color: $tc-default;
    
            span {
                color: $tc-featured;
            }
        }
        
        span {
            color: $tc-default;
            position: absolute;
            right: 0;
        }
    }
}

@media screen and (max-width: 768px ) {
    #squad {
        .squad_fst-item {
            flex-direction: column;
            .video img {
                width: 100%;
            }
            .text {
                margin: 35px auto 0;
            }
        }
    }

    #workplace {
        .container {
            margin: 30px 30px 0 30px;
        }
        ul li{
            &:last-child {
                margin-right: 0;
            }
            img {
                width: 40%;
            }
            h3 {
                margin: 30px auto;
            }
            p {
                text-align: center;
            }
            
        }
    }
}

@media screen and (max-width: 425px ) {
    h3 {
        margin: 35px auto;
    }
    #squad .squad {     
        &_scd-item {
            .dream-team {
                display: inline;
            }
            img {
                width: 45%;
                margin: 10px 5px;
                border-radius: 50%;
                border: 2px solid rgba(0,0,0,0.5);

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    #workplace ul {
        flex-direction: column;
        li {
            margin-right: 0;
            margin-bottom: 35px;
            width: 100%;

            &:last-child {
                margin-right: 0;
                margin-bottom: 0;  
            }   
        }
    }

    #stack {
        h3, h2 {
            margin: 20px auto;
        }
        .jobs a {
            margin-bottom: 15px;
            span {
                left: 0;
                right: auto;
                display: block;
            }
        } 
    }
}