@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");
/* Text Color */
/* Background Color */
body * {
  color: #9b9b9b;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center; }

html {
  scroll-behavior: smooth; }

hr {
  border-bottom: 2px solid #cbcbcb;
  border-left: none;
  border-top: none;
  border-right: none;
  margin: 20px auto;
  width: 200px; }

a {
  display: block; }
  a:hover {
    color: #9b9b9b; }
    a:hover span {
      color: #359c9c; }
    a:hover svg * {
      fill: #9b9b9b; }

h1, h3, h2 {
  font-weight: bold; }

h1 {
  color: #fff;
  font-size: 47px;
  line-height: 47px;
  text-shadow: 2px 2px 5px #000; }

h2 {
  color: #7d7873;
  font-size: 17px;
  margin: 50px auto;
  text-transform: uppercase; }

.icon svg {
  max-height: 18px;
  max-width: 9px;
  vertical-align: text-top; }

.errorMessage {
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: #359c9c; }

.loading {
  display: none; }
  .loading.ativo {
    display: block; }

section {
  margin: 0 auto;
  max-width: 960px;
  width: 100%; }

.container {
  margin: 50px 50px 0 50px; }

#header .container {
  margin: 0; }

#header .header_bg-work {
  background: url("../img/foto-header.png");
  background-position: center;
  height: 450px;
  position: relative; }
  #header .header_bg-work h1 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 140px; }

#header .header_title {
  margin: 25px 35px 0; }
  #header .header_title p {
    line-height: 28px; }

.go-to-jobs, .know-more {
  color: #359c9c;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase; }

#squad .container {
  background-color: #f8f8f8;
  margin: 50px auto;
  padding: 50px; }

#squad .squad_fst-item {
  display: flex; }
  #squad .squad_fst-item .text {
    margin-left: 50px; }
  #squad .squad_fst-item h2 {
    line-height: 32px;
    margin: 0;
    text-align: left; }
    #squad .squad_fst-item h2 span {
      color: #f9a92f; }
  #squad .squad_fst-item p {
    color: #7d7873;
    margin-top: 25px;
    text-align: justify; }

#squad .squad_scd-item .title {
  font-size: 20px;
  line-height: 24px; }

#squad .squad_scd-item .dream-team {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin: 0 auto; }

#squad .squad_scd-item img {
  margin-right: 10px;
  max-width: 208px;
  width: 50%; }
  #squad .squad_scd-item img:last-child {
    margin-right: 0; }

#workplace .container > img {
  margin-top: 60px;
  width: 100%; }

#workplace ul {
  display: flex; }
  #workplace ul li {
    margin-right: 35px;
    width: 100%; }
    #workplace ul li:last-child {
      margin-right: 35px; }
  #workplace ul img {
    width: auto; }

#workplace h2 {
  margin: 30px auto 40px; }

#workplace p {
  text-align: justify;
  line-height: 24px;
  letter-spacing: 1.5px; }

#stack h2 {
  margin-bottom: 60px; }

#stack h3 {
  color: #7d7873;
  margin-bottom: 45px;
  text-align: left; }

#stack .jobs a {
  color: #359c9c;
  text-align: left;
  position: relative;
  text-transform: none;
  text-decoration: none;
  padding-bottom: 15px; }
  #stack .jobs a:hover {
    color: #9b9b9b; }
    #stack .jobs a:hover span {
      color: #359c9c; }
  #stack .jobs a span {
    color: #9b9b9b;
    position: absolute;
    right: 0; }

@media screen and (max-width: 768px) {
  #squad .squad_fst-item {
    flex-direction: column; }
    #squad .squad_fst-item .video img {
      width: 100%; }
    #squad .squad_fst-item .text {
      margin: 35px auto 0; }
  #workplace .container {
    margin: 30px 30px 0 30px; }
  #workplace ul li:last-child {
    margin-right: 0; }
  #workplace ul li img {
    width: 40%;
    max-width: 150px; }
  #workplace ul li h2 {
    margin: 30px auto; }
  #workplace ul li p {
    text-align: center; } }

@media screen and (max-width: 640px) {
  h2 {
    margin: 35px auto; }
  #squad .squad_scd-item .dream-team {
    display: inline; }
  #squad .squad_scd-item img {
    width: 40%;
    margin: 10px 5px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.5); }
    #squad .squad_scd-item img:last-child {
      margin-right: 0; }
  #workplace ul {
    flex-direction: column; }
    #workplace ul li {
      margin: 0 auto 35px;
      width: 80%; }
      #workplace ul li:last-child {
        margin-right: auto;
        margin-bottom: 0; }
  #stack h3, #stack h2 {
    margin: 20px auto; }
  #stack .jobs a {
    margin-bottom: 15px; }
    #stack .jobs a span {
      left: 0;
      right: auto;
      display: block; } }
